body {
    background-color: antiquewhite;
}
/*ბლოკები რობმებიხ ლინკებით არის გაკეთებული მაგლა  რაგაცა რო ეგ გავაკეტე*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active  {
    background-color: rgb(175, 6, 175);            
  }
  /* ბორდერები ტექსტისთვის*/
  p.normal {
    border: 2px solid red;
    padding: 5px;
  }
  
  p.round1 {
    border: 2px solid red;
    border-radius: 5px;
    padding: 5px;
  }
  
  p.round2 {
    border: 2px solid red;
    border-radius: 8px;
    padding: 5px;
    margin-right: 450px;
  }
  
  p.round3 {
    border: 2px solid red;
    border-radius: 12px;
    padding: 5px;
  }
  /*animation*/
  div {
    animation: myfirst 2s 2;
    animation-direction: alternate;
    margin-right: 790px;
  }
  
  @keyframes myfirst {
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: antiquewhite; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 0px;}
  50%  {background: blue; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 0px;}
  100% {background: red; left: 0px; top: 0px;}
0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
  0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 0px; top: 0px;}
    50%  {background: blue; left: 0px; top: 0px;}
    75%  {background: green; left: 0px; top: 0px;}
}